@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

h1 {
  padding-bottom: 1.1rem;
  border-bottom: 2px solid maroon;
  font-family: "Nosifer", cursive;
}

#capsules {
  height: 75vh;
  overflow-y: auto;
}

#messages {
  min-height: 50px;
}
